.discount-wrapper {
  padding: 300px;
}

.discount-card {
  background-color: var(--grey);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

.discount-product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-header {
  max-height: 200px;
  background-color: var(--white);
}

.product-header img {
  max-height: 200px;
  object-fit: contain;
}
